<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/logo1.png}"/>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">-->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/discuss-detail.css}" />
	<title>谦牧社区-帖子详情</title>
</head>
<body>
	<div class="nk-container">

		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- 内容 -->
		<div class="main">
			<!-- 帖子详情 -->
			<div class="container">
				<!-- 标题 -->
				<h6 class="mb-4">
                    <!--配图-->
					<img src="http://static.nowcoder.com/images/img/icons/ico-discuss.png"/>
					<span th:utext="${post.title}">[]</span>
                    <!--精帖 标签-->
					<div class="float-right">
                        <!--帖子id-->
						<input type="hidden" id="postId" th:value="${post.id}">

                        <!-- 加精 置顶-->
                        <!--sec//security// 拥有权限-->
                        <!--是否 显示-->
                        <!-- security 上下文 管理-->
						<button type="button" class="btn btn-danger btn-sm" id="topBtn"
							th:disabled="${post.type==1}" sec:authorize="hasAnyAuthority('moderator')">置顶</button>
						<button type="button" class="btn btn-danger btn-sm" id="wonderfulBtn"
							th:disabled="${post.status==1}" sec:authorize="hasAnyAuthority('moderator,admin')">加精</button>
						<button type="button" class="btn btn-danger btn-sm" id="deleteBtn"
							th:disabled="${post.status==2}" sec:authorize="hasAnyAuthority('admin')">删除</button>
					</div>
				</h6>

				<!-- 作者 -->
				<div class="media pb-3 border-bottom">
                    <!--<a href="profile.html">-->
					<a th:href="@{|/user/profile/${user.id}|}">
                        <!--头像-->
						<img th:src="${user.headerUrl}" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
					</a>
					<div class="media-body">
                        <!--用户名-->
						<div class="mt-0 text-warning" th:utext="${user.username}">1</div>
						<div class="text-muted mt-3">
                            <!--发帖时间-->
                            <!--修改时间-->
							发布于 <b th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm:ss')}"><!--2019-04-15 15:32:18--></b>
							<ul class="d-inline float-right">
                                <!--点赞功能-->
								<li class="d-inline ml-2">
									<a href="javascript:;" th:onclick="|like(this,1,${post.id},${post.userId},${post.id});|" class="text-primary">
                                        <!--整合 redis 已经over-->
										<b th:text="${likeStatus==1?'已赞':'赞'}">赞</b> <i th:text="${likeCount}">0</i>
									</a>
								</li>
                                <!--回复-->
								<li class="d-inline ml-2">|</li>
								<li class="d-inline ml-2"><a href="#replyform" class="text-primary">回帖 <i th:text="${post.commentCount}">0</i></a></li>
							</ul>
						</div>
					</div>
				</div>

                <!--文章-->
				<!-- 正文 -->
				<div class="mt-4 mb-3 content" th:utext="${post.content}">

				</div>
			</div>

            <!--回复-->
			<!-- 回帖 -->
			<div class="container mt-3">
				<!-- 回帖数量 -->
				<div class="row">
					<div class="col-8">
                        <!-- 总回帖数量-->
                        <!--count-->
						<h6><b class="square"></b> <i th:text="${post.commentCount}">0</i>条回帖</h6>
					</div>
					<div class="col-4 text-right">
						<a href="#replyform" class="btn btn-primary btn-sm">&nbsp;&nbsp;回&nbsp;&nbsp;帖&nbsp;&nbsp;</a>
					</div>
				</div>
				<!-- 回帖列表 -->
				<ul class="list-unstyled mt-4">
                    <!--渲染 列表 /-->
					<li class="media pb-3 pt-3 mb-3 border-bottom" th:each="cvo:${comments}">
                        <!-- 个人信息-->
                        <!--点击头像 查看 信息-->
						<a th:href="@{|/user/profile/${cvo.user.id}|}">
                            <!--用户 信息 展示-->
							<img th:src="${cvo.user.headerUrl}" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
						</a>
						<div class="media-body">
							<div class="mt-0">
								<span class="font-size-12 text-success" th:utext="${cvo.user.username}"></span>
								<span class="badge badge-secondary float-right floor">
                                    <!--楼层 设置-->
                                    <!--分页-->
                                    <!--加上 本页 开始数-->
									<i th:text="${pageDTO.offset + cvoStat.count}">1</i>#

								</span>
							</div>
                            <!--数据 详情-->
                            <!--回复内容-->
							<div class="mt-2" th:utext="${cvo.comment.content}">
							</div>
							<div class="mt-4 text-muted font-size-12">
                                <!--回复时间 / format 注意格式化 Date（util）-->
								<span>发布于 <b th:text="${#dates.format(cvo.comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b></span>
								<ul class="d-inline float-right">
									<li class="d-inline ml-2">

										<a href="javascript:;" th:onclick="|like(this,2,${cvo.comment.id},${cvo.comment.userId},${post.id});|" class="text-primary">
											<b th:text="${cvo.likeStatus==1?'已赞':'赞'}">赞</b>(<i th:text="${cvo.likeCount}">0</i>)
										</a>

									</li>
									<li class="d-inline ml-2">|</li>
                                    <!-- 回复数量-->
									<li class="d-inline ml-2"><a href="#" class="text-primary">回复(<i th:text="${cvo.replyCount}">0</i>)</a></li>
								</ul>
							</div>
							<!-- 回复列表 -->
                            <!--二级回复-->
							<ul class="list-unstyled mt-4 bg-gray p-3 font-size-12 text-muted">

								<li class="pb-3 pt-3 mb-3 border-bottom" th:each="rvo:${cvo.replys}">
									<div>
										<span th:if="${rvo.target==null}">
											<b class="text-info" th:text="${rvo.user.username}">A</b>:&nbsp;&nbsp;
										</span>
                                        <!--谁给谁回复-->
										<span th:if="${rvo.target!=null}">
											<i class="text-info" th:text="${rvo.user.username}">B</i> 回复
											<b class="text-info" th:text="${rvo.target.username}">A</b>:&nbsp;&nbsp;
										</span>
                                        <!--回复内容-->
										<span th:utext="${rvo.reply.content}"></span>
									</div>
                                    <!--回复 框 / 绑定 id-->
                                    <!--回复给-》-->
									<div class="mt-3">
										<span th:text="${#dates.format(rvo.reply.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
										<ul class="d-inline float-right">
											<li class="d-inline ml-2">

												<a href="javascript:;" th:onclick="|like(this,2,${rvo.reply.id},${rvo.reply.userId},${post.id});|" class="text-primary">
													<b th:text="${rvo.likeStatus==1?'已赞':'赞'}">赞</b>(<i th:text="${rvo.likeCount}">0</i>)
												</a>

											</li>
											<li class="d-inline ml-2">|</li>
                                            <!--回复 给谁-->
                                            <!--绑定 下框-->
											<li class="d-inline ml-2"><a th:href="|#huifu-${rvoStat.count}|" data-toggle="collapse" class="text-primary">回复</a></li>
										</ul>
                                        <!-- 回复 是谁-->
                                        <!--rvoStat// 计数-->
										<div th:id="|huifu-${rvoStat.count}|" class="mt-4 collapse">
                                            <!--提交回复-->
											<form method="post" th:action="@{|/comment/add/${post.id}|}">
												<div>
													<input type="text" class="input-size" name="content" th:placeholder="|回复${rvo.user.username}|"/>
                                                    <!--回复 回复-->
                                                    <!--套起来了？？？-->
                                                    <!--装 nm 呢 -->
                                                    <!--爬！！！！-->
													<input type="hidden" name="entityType" value="2">
                                                    <!--老规矩-->
													<input type="hidden" name="entityId" th:value="${cvo.comment.id}">
													<input type="hidden" name="targetId" th:value="${rvo.user.id}">

												</div>
												<div class="text-right mt-2">
													<button type="submit" class="btn btn-primary btn-sm" onclick="#" >&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
												</div>
											</form>
										</div>
									</div>								
								</li>

                                <!--添加评论-->
								<!-- 回复输入框 -->
								<li class="pb-3 pt-3">
									<form method="post" th:action="@{|/comment/add/${post.id}|}">
										<div>
											<input type="text" class="input-size" name="content" placeholder="请输入你的观点"/>
											<input type="hidden" name="entityType" value="2">
											<input type="hidden" name="entityId" th:value="${cvo.comment.id}">
										</div>
										<div class="text-right mt-2">
											<button type="submit" class="btn btn-primary btn-sm" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
										</div>
									</form>
								</li>
							</ul>
						</div>
					</li>
				</ul>

                <!--评论 -->
				<!-- 分页 -->
				<nav class="mt-5" th:replace="index::pagination">
				</nav>
			</div>


            <!--回复 本贴-->
			<!-- 回帖输入 -->
			<div class="container mt-3">

				<form class="replyform" method="post" th:action="@{|/comment/add/${post.id}|}">
					<p class="mt-3">
						<a name="replyform"></a>

						<textarea placeholder="在这里畅所欲言你的看法吧!" name="content"></textarea>

                        <!--回复类型-->
						<input type="hidden" name="entityType" value="1">
						<input type="hidden" name="entityId" th:value="${post.id}">

					</p>
					<p class="text-right">
						<button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;回&nbsp;&nbsp;帖&nbsp;&nbsp;</button>
					</p>
				</form>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/discuss.js}"></script>
</body>
</html>
